@{
    string nombre = Context.User.Identity.Name;
}

@if (Context.User.Identity.IsAuthenticated == false)
{
    <div class="nav-item" style="justify-content:end">
        <a class="nav-link" asp-controller="Usuario" asp-action="LogInUsuario">Login</a>
    </div>
    <div class="nav-item" style="justify-content:end">
        <a class="nav-link" asp-controller="Usuario" asp-action="Registro">Registro</a>
    </div>
}
else
{
<div class="dropdown">
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span>@nombre</span>
    </button>
    <ul class="dropdown-menu" style="right: 0 !important; left: auto;">
        <li><a class="dropdown-item" asp-action="PerfilUsuario" asp-controller="Usuario">Perfil</a></li>
        <li><a class="dropdown-item" asp-action="Carrito" asp-controller="Home">Carrito Compra</a></li>
        <li><a class="dropdown-item" asp-action="Vender" asp-controller="Home">Vender</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" asp-controller="Manage" asp-action="LogOut">LogOut</a></li>
    </ul>
</div>
}