@model ProyectoTiendaMagic.Models.Usuario

@{ ViewData["Title"] = "Registro"; }

<h2 style="align-self:center">Creacion Usuario</h2>
<hr />
<div class="row" id="outPopUp">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input class="form-control" placeholder="Nombre" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Contraseña" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Confirmar Contraseña" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Correo Electronico" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Exit</a>
            </div>
            <h1 style="color:red">@ViewData["MENSAJE"]</h1>
        </form>
    </div>
</div>
<style>
    #outPopUp {
        display: flex;
        justify-content: center;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

